@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Hometown Zoo Contact Information</h3>
<address>
    4501 Steilacoom Blvd SW<br />
    Lakewood, WA 98498<br />
    Phone: (253) 123-4567 <br />
</address>

<address>
    
</address>